@import url("./general-css.css");
.container {
    width: 100%;
  }
#main {
    transition: 0.5s;
  }
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 15px;
    z-index: 98;
    background-color: var(--color-text-white);
  }

  .header-placeholder {
    display: none;
  }
  
  .header.sticky {
    position: fixed;
    top: 0;
    animation: slideDown 0.3s ease-in-out;
    z-index: 97;
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  /* .header.active.sticky {
    position: fixed;
    top: 0;
    animation: 0.3s ease-in-out;
  } */

  .header__logo {
    width: 70%;
    height: 100%;
  }

  .header__logo__img {
    width: 170px;
    height: 50px;
  }
  .header__hamburger {
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }
  .header__bar {
    width: 100%;
    height: 2px;
    background-color: #00A2A0;
    border-radius: 5px;
  } 
  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 2em;
    padding: 20px 20px;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 99;
    top: 0;
    right: -250px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
  }
  .sidebar__cross {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }
  .sidebar__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 2.5em;
  }
  .sidebar__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .buy-now {
    width: 100%;
    padding: 12px 20px;
    background-color: #00A2A0;
    border-radius: 20px;
    border: none;
    color: var(--color-text-white);
    font-size: var(--font-btn-default);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
  }
  .buy-now:hover {
    background-color: #089D9B;
  }
  .nav-link {
    font-family: var(--font-popins);
    color: var(--color-text-bg-green);
    font-size: var(--font-body-default);
    transition: 0.5s ease;
    cursor: pointer;
  }
  .nav-link.sidebarColor {
    color: #9DA6A6;
    transition: 0.1s ease;

  }
  .nav-link.sidebarColor:hover {
    color: var(--color-text-white);
  }
  .nav-link.active {
    color: var(--color-text-white);
  }
  .nav-link:hover {
    color: var(--color-text-dark);
  }
  .overlay {
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
  }
  
  .overlay.active {
    opacity: 0.5;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;
  }

  /* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: top 0.3s ease-in-out;
  } */
  .header__desktop {
    display: none;
  }
  .desktop__links {
    display: none;
  }
  /* footer style */

  .footer__container {
    width: 100%;
    background-image: url(../assets/images/img/image-header-footer/journey2-footerbg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ECE1DA;
  }
  .footer {
    width: 100%;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  .footer__text {
    max-width: 620px;
    padding: 50px 0;
    text-align: center;
    line-height: 2em;
    color: var(--color-text-dark);
    font-family: var(--font-popins);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-body-defult);
  }
  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__icons {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--color-text-bg-green);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .footer__icons:hover {
    background-color: #047876;
  }
  .footer__social-containers {
    padding: 0 10px 0px 10px;
  }
  .footer__line {
    width: 100%;
    height: 1px;
    background-color: #51504f46;
  }
  .footer__copyright {
    padding: 40px 50px;
    color: var(--color-text-dark);
    font-family: var(--font-popins);
    font-weight: var(--font-weight-normal);
    font-size: 0.8rem;
    text-align: center;
  }
  .footer__links {
    color: var(--color-text-bg-green);
    cursor: pointer;
  }
  .footer__links:hover {
    text-decoration: underline;
  }
  
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  .main-container {
    /* width: 100vw;
    height: auto; */

  }
  .top-section {
  
  background-image: url('../assets/images/img/image-about-us-page/about-us-images/journey2-subheader.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding: 220px 112px 120px 48px;

  }
  .top-section__title {
    font-family: var(--font-YesevaOne) ;
    color: var(--color-text-dark);
    font-size: var(--font-h1-xs);
    padding-bottom: 16px;

  }
  .top-section__description {
    font-family: var(--font-popins);
    color: var(--color-text-dark);
    font-size:var(--font-body-lg) ;
    opacity: 0.9;

  }
  .top-section__description__paragraph {
    border-left: 2px solid #FFDAB2;
    padding-left: 30px;

  }

  .middle-section {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding: 110px 50px 110px 50px; */
  }
  .middle-section__box{
    padding: 32px 24px 64px 24px;
    /* border: 1px solid #492525; */
  }
  .middle-section__image {
    width: 100%;
    height: auto;
  }
  .middle-section__image__box {
    max-width: 100% ;
    height: auto;
    padding: 48px 16px 16px 16px;

  }
  .middle-section__text-box {
    padding: 4px 32px;
    max-width: 100%;
    font-family: var(--font-popins);
    color: var(--color-text-dark);
    font-size: var(--font-body-defult);
    opacity: 0.9;

  }
  .middle-section__title {
    font-family: var(--font-YesevaOne) ;
    color: var(--color-text-dark);
    font-size: var(--font-h2-xs);
    padding-bottom: 12px;

  }
  .middle-section__description {
    font-family: var(--font-popins);
    color: var(--color-text-dark);
    font-size: var(--font-body-defult);

  }
  .middle-section__main-paragraph {
    padding-top: 24px;
    padding-bottom: 16px;
  }
  .middle-section__leaf-img {
    color: #00A2A0;
    padding-right: 4px;
  }
  .middle-section__subtext {
    padding-bottom: 10px;
  }
  .middle-section__button-box {
    padding-top: 8px;
  }
  .middle-section__button {
    font-family: var(--font-popins) ;
    font-size: var(--font-btn-defult);
    color: var(--color-text-gray);
    padding: 8px 24px;
    background-color: var(--color-btn) ;
    border: 1px solid #ffffff;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.6s ease-in;
  }
  .middle-section__button:hover {
    background-color: #e6e3e0;
  }
  .third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 48px;
    max-width: 570px;
    background-color: var(--color-text-bg-green);

  }
  .third-section__main-title {
    font-family: var(--font-YesevaOne);
    font-size: var(--font-h1-sm);
    color: var(--color-text-white);
    padding-top: 48px;
    padding-bottom: 36px;
    padding-left: 16px;
    padding-right: 16px;

  }
  .third-section__title {
    font-family: var( --font-YesevaOne);
    color: var(--color-text-white);
    font-size: 8px;
    max-width: 452px;
    max-height: 52px;
    text-align: center;
    padding-top: 32px;
    letter-spacing: 1px;
    opacity: 0.91;
   
    
  }
  .third-section__title__p {
    line-height: 48px;
    text-align: center;
  }
  .third-section__description {
    font-family: var(--font-popins);
    font-size: var(--font-body-defult);
    color: var(--color-text-white);
    max-width: 452px;
    max-height: 23px;
    text-align: center;
    padding-top: 8px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .third-section__items {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 16px;
    gap: 16px;

  }
  .third-section__image {
    max-width: 452px;
    max-height: 72px;
    text-align: center;
    padding-top: 32px;

  }
  .third-section__last-part {
    padding-top: 100px;
  }
  .fourth-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 570px;
    background-color: var(--color-text-white);
  }
  .fourth-section__frame-box {
    padding: 32px 32px;
    width: 100%;
    max-width: 480px;

  }
  .fourth-section__frame-image {
     /* position: relative; */
     /* max-width: 100%; */
     /* overflow: hidden;  */
     width: 100%;
     max-width: 570px;
  }
  .fourth-section__image {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    /* transition: transform 0.5s ease-in-out, max-width 0.5s ease-in-out; */
    max-width: 100%;

  }
  .fourth-section__title {
    color: var(--color-text-bg-green);
    font-family: var(--font-YesevaOne);
    font-size: var(--font-h3-xs);
    max-width: 451px;
    max-height: 26px;
    padding: 32px 16px;
    text-align: center;
    opacity: 0.8;
  }
  .foruth-section__description {
    color: var(--color-text-dark);
    font-family: var(--font-popins);
    font-size: var(--font-body-defult);
    max-width: 452px;
    max-height: 46px;
    padding: 32px 16px;
    text-align: center;
  }
  .fourth-section__main-title {
    font-family: var(--font-YesevaOne);
    font-size: var(--font-h1-xs);
    color: var(--color-text-dark);
    padding-top: 48px;
    padding-bottom: 24px;
  }
  .foruth-section__description-p {
    line-height: 21px;
  }
  .fourth-section__main-description {
    font-family: var(--font-YesevaOne);
    font-size: var(--font-body-defult);
    color: var(--color-text-dark);
    padding-top: 24px;
    padding-bottom: 48px;
    max-width: 442px;
    max-height: 46px;
    text-align: center;
    padding-left: 32px;
    padding-left: 32px;
    width: 100%;
    opacity: 0.9;

  }
  .fourth-section__button {
    background-color: var(--color-text-bg-green);
    color: white;
    border: none;
    padding: 12px 32px;
    border-radius: 24px;
    font-family: var(--font-popins);
    font-size: var(--font-btn-defult);
    cursor: pointer;
    transition: 0.3s ease-in;
  }
  .fourth-section__button:hover {
    background-color: #009A98;
  }
  .fourth-section__button-frame {
    padding: 48px 16px;
  }



/* xs */
/* ... */




/* sm */
@media (min-width: 576px) {
     .header__desktop {
        display: none;
    }
    .desktop__links {
      display: none;
    }
  .top-section {
    padding: 220px 124px 120px 84px;

  }
  .top-section__frame {
    /* max-width: 480px; */
  
  }
  .top-section__description__paragraph {
    width: 344px;
    height: 69px;
  }
  .top-section__title {
    font-size: var(--font-h1-sm) ;

  }
  .middle-section__image__box {
    max-width: 100% ;
    height: auto;
    padding: 48px 32px 16px 24px;

  }
  .third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 760px;
    background-color: var(--color-text-bg-green);

  }
  .middle-section {
    max-width: 760px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding: 110px 50px 110px 50px; */
  }
  .middle-section__title {
    font-family: var(--font-YesevaOne) ;
    color: var(--color-text-dark);
    font-size: var(--font-h2-sm);
    padding-bottom: 12px;

  }
  .middle-section__main-paragraph {

  }
  .fourth-section__main-description {
    max-width: 480px;
    max-height: 46px;
  }
  .third-section__main-title {
    
  }



    
}



/* md */
@media (min-width: 768px) {
    .header {
        padding: 30px 28px;
        background-color: transparent;
    }
    .header.sticky {
      padding: 5px 28px;
      height: 60px;
      box-shadow: 1px 1px 5px rgb(223, 219, 219);
      opacity: 0.9;
      background-color: var(--color-text-white);
    }
    .header__logo__img.sticky {
      width: 120px;
      height: 35px;
      margin-top: 12px;
    }
    .header__logo {
        width: 60%;
        height: 100%;
    }
    .header__hamburger {
      width: 10%;
      align-items: flex-end;
    }
    .header__bar {
      width: 25px;
    }
    .header__logo__img {
        width: 205px;
        height: 100%;
    }
    .header__desktop {
        width: 30%;
        display: flex;
        justify-content: flex-end;
    }

    .desktop__buy-now {
        width: 155px;
        padding: 8px 20px;
        background-color: #00A2A0;
        border-radius: 20px;
        border: none;
        font-family: var(--font-popins);
        color: var(--color-text-white);
        font-size: var(--font-btn-default);
        font-weight: var(--font-weight-normal);
        cursor: pointer;
    }
    .desktop__buy-now:hover {
      background-color: #089D9B;
    }
    .desktop__links {
      display: none;
    }
  .top-section {
    padding: 120px 220px 220px 48px;

  }
  .top-section__title {
    padding-bottom: 48px;
    font-size: var(--font-h1-md) ;
  }
  .middle-section {
    padding-top: 48px;
    max-width:999px;
    display: flex;
    flex-direction: row;
  }
  .middle-section__box{
    display: flex;
    flex-direction: row;
    padding: 20px;
    /* border: 1px solid #ccc; */
  }
  .middle-section__title {
    font-family: var(--font-YesevaOne) ;
    color: var(--color-text-dark);
    font-size: var(--font-h1-md);
    padding-bottom: 12px;
    padding-top: 24px;

  }
  .middle-section__description {
    font-family: var(--font-popins);
    color: var(--color-text-dark);
    font-size: var(--font-body-defult);
  }
  .middle-section__main-paragraph {
    line-height: 32px;
  }
  .middle-section__image__box {
    max-width: 100% ;
    height: auto;
    padding: 32px 32px 16px 48px;

  }
  .middle-section__subtext {
    padding-bottom: 24px;
  }
  .third-section__items__row {
    display: flex;
    flex-direction: row;
    padding-bottom: 16px;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  .third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 999px;
    background-color: var(--color-text-bg-green);

  }
  .third-section__title {
    font-size: var(--font-h3-xs);
    font-weight: var(--font-weight-normal);
    /* max-width: 251px;
    max-height: 35px; */
  }
  .fourth-section {
    max-width: 999px;
    background-color: var(--color-text-white);
  }
  .fourth-section__rows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .third-section__description {
    font-family: var(--font-popins);
    font-size: var(--font-body-defult);
    color: var(--color-text-white);
    max-width: 252px;
    max-height: 60px;
    text-align: center;
    padding-top: 8px;
  }
 
}

 @media (min-width: 1000px) {
  .middle-section__subtext-box {
    padding-top: 16px;

  }
  .middle-section__image__box {
    max-width: 520px ;
    height: 780px;
    padding: 32px 32px 16px 48px;

  }
  .middle-section__text-box {
    padding: 64px 16px 16px 16px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
  }
  .middle-section__box{
    /* padding: 8px; */
  }
  .middle-section__subtext {
    text-align: left;
  }
  .middle-section {
    max-width:1200px;
  }
  .third-section {
    max-width: 1200px;
  }
  .fourth-section {
    max-width: 1200px;
  }
  .top-section__frame {
    padding-left: 32px;
  }
  .middle-section__title {
    font-size: var(--font-h1-md);
  }

 }

/* lg */
@media (min-width: 1240px) {
    .header {
    padding: 30px 32px;
    background-color: transparent;
}
  .header__hamburger {
    display: none;
  }
  .desktop__links {
    display: flex;
    gap: 40px;
    width: 55%;
  }
  .nav-link {
    font-weight: var(--font-weight-bold);
    font-size: 0.87rem;
    letter-spacing: 1px;
  }
  .nav-link.activ {
    color: var(--color-text-dark);
  }
  .header__logo {
    width: 280px;
    height: 100%;
  }
  .middle-section {
    max-width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .third-section {
    max-width: 100%;
  }
  .fourth-section {
    max-width: 100%;
  }
  .middle-section__title {
    max-width: 458px;
    max-height: 180px;
  }
  .middle-section__main-paragraph {
    max-width: 458px;
    max-height: 90px;
  }
  .middle-section__image__box {
    /* max-width: 520px ;
    height: 780px;
    padding: 32px 32px 16px 124px; */

  }
  .middle-section__subtext-box {
    padding-top: 48px;
  }
  .top-section {
    padding: 220px 112px 120px 180px;
  
    }


}