@import url("./general-css.css");
/* xs */
/* xs */
/* css general home page */
body {
  position: relative;
}
.main-container {
  width: 100%;
}
.sections {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
}
.row {
  width: 100%;
  max-width: 488px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-container--vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-1 {
  color: var(--color-text-dark);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-YesevaOne);
  font-size: var(--font-h1-xs);
}
.heading-2 {
  font-size: var(--font-h1-xs);
  color: var(--color-text-dark);
  font-family: var(--font-YesevaOne);
  font-weight: var(--font-weight-normal);
}
.heading-3 {
  font-size: var(--font-h3-sm);
  color: var(--color-text-bg-green);
  font-family: var(--font-YesevaOne);
  font-weight: var(--font-weight-normal);
}
.description {
  font-size: var(--font-body-defult);
  color: var(--color-text-dark);
  font-family: var(--font-popins);
  font-weight: var(--font-weight-normal);
  width: 88%;
}
.btn-text {
  background-color: var(--color-text-bg-green);
  color: var(--color-text-white);
  font-weight: var(--font-weight-bolder);
  font-family: var(--font-popins);
  font-size: var(--font-btn-defult);
  display: flex;
  justify-content: center;
  transition: 0.6s ease-in;
}
.btn-text:hover {
  background-color: #008785;
}
.btn-container {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* bannner*/
.banner {
  min-height: 530px;
  background: url("../assets/images/img/image-home-page/bg-banner-pages.png");
  background-attachment: scroll;
  background-size: cover;
  background-position: 52% top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.card--banner {
  min-height: 264px;
  width: clamp(240px, 2.5vw, 300px);
}
@keyframes animationBannner {
  0% {
    left: 50px;
  }
  50% {
    left: 0;
  }
}
.heading-1--banner {
  padding-bottom: 24px;
  font-size: 2rem;
  position: relative;
  animation-name: animationBannner;
  animation-duration: 2s;
}
.banner__buttons {
  display: flex;
  max-width: 240px;
  position: relative;
  animation-name: animationBannner;
  animation-duration: 3s;
}
.banner__buttons--green,
.banner__buttons--gray {
  width: 50%;
}
.banner__buttons--green {
  padding-right: 4px;
}
.banner__buttons--gray {
  padding-left: 4px;
}
.banner__buttons-link--gray,
.banner__buttons-link--green {
  border-radius: 16px;
  padding: 8px 10px;
  font-weight: 1200;
  font-family: "Poppins";
}
.banner__buttons-link--gray {
  color: var(--color-text-gray);
  background-color: var(--color-btn);
}
.banner__buttons-link--gray:hover {
  background-color: #ded0be;
}
.banner__caption--hide-sm {
  display: none;
}
/* section process */
.process {
  text-align: center;
  height: auto;
  background: url("../assets/images/img/image-home-page/bg-section-process.png");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 80px;
}
.heading-2--process {
  padding-bottom: 32px;
}
.card--process-first,
.card--process-third,
.card--process-second {
  padding: 0 16px;
}
.card--process-first {
  padding-bottom: 80px;
}
.card--process-third {
  padding-bottom: 0;
}
.card--process-second {
  padding-bottom: 32px;
}
.process__badge {
  width: 72px;
  padding: 4px 0;
  color: var(--color-badge);
  background-color: var(--color-btn);
  font-family: var(--font-YesevaOne);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-btn-defult);
}
.process__picture {
  padding-top: 32px;
}
.heading-3--process {
  padding: 16px 0;
}
.btn-text--process,
.btn-text--Tours-destinations {
  border-radius: 24px;
  padding: 12px 30px;
  font-weight: var(--font-weight-normal);
}
.description--process {
  line-height: 24px;
}
/* section Tours-destinations */
.Tours-destinations__header {
  padding-top: 40px;
  background: url("../assets/images/img/image-home-page/bg-Tours-destinations.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  overflow: visible;
}
.row--Tours-destinations {
  height: auto;
  background: url("../assets/images/img/image-home-page/img-Tours-destinations.jpg");
  background-size: cover;
  background-position: 50% 50%;
  padding: 180px 32px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Tours-destinations__btn-play,
.Tours-destinations__btn-play--hover-mode {
  width: 180px;
  height: 180px;
  cursor: pointer;
}
.Tours-destinations__btn-play--hover-mode {
  display: none;
}
.Tours-destinations__btn-play:hover
  + .Tours-destinations__btn-play--hover-mode {
  display: flex;
}
.Tours-destinations__btn-play:hover {
  display: none;
}
.Tours-destinations__content {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 16%,
    rgba(0, 162, 160, 1) 16%,
    rgba(0, 162, 160, 1) 100%
  );
  padding-top: 120px;
  text-align: center;
}
.heading-2--Tours-destinations {
  color: var(--color-text-white);
  padding-bottom: 32px;
}
.Tours-destinations__country-map {
  padding: 16px 0;
}
.heading-3--Tours-destinations {
  padding-bottom: 16px;
  color: var(--color-text-white);
}
.description--Tours-destinations {
  padding-bottom: 16px;
  line-height: 24px;
  color: var(--color-text-white);
  text-align: center;
}
.Tours-destinations__country-image-container {
  width: 100%;
  overflow: hidden;
}
.Tours-destinations__country-image {
  transition: 0.4s ease;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.Tours-destinations__country-image:hover {
  transform: scale(1.1);
  
}
.btn-container--Tours-destinations {
  padding-bottom: 80px;
}
/* sestion tour-guides */
.row--tour-guides {
  text-align: center;
  border-top: 1px solid var(--color-line);
  padding-top: 64px;
  padding-bottom: 72px;
}
.heading-2--tour-guides {
  padding-bottom: 24px;
}
.description--tour-guides {
  line-height: 24px;
  padding-bottom: 48px;
}
.card--tour-guides {
  padding: 0 16px;
}
.tour-guides__image {
  width: 100%;
  padding: 32px 0;
}
.heading-3--tour-guides {
  padding-bottom: 16px;
}
.card-description--tour-guides {
  padding-bottom: 32px;
  line-height: 24px;
}

/* sm */
@media (min-width: 576px) {
  /* css general home page */
  .heading-1 {
    font-size: var(--font-h1-sm);
  }
  /* section banner */
    .banner {
    padding-top: 144px;
    padding-bottom: 150px;
    background-position: 46%;
    padding-left: 48px;
  }
  .card--banner {
    width: 50vw;
    min-height: 250px;
  }
  .banner__buttons {
    max-width: 270px;
  }
  .heading-1--banner {
    max-width: 100%;
  }
}

/* md */
@media (min-width: 768px) {
  /* css general home page */
  .sections {
    padding-left: 64px;
    padding-right: 64px;
  }
  .row {
    max-width: 800px;
  }
  .card-container--horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .heading-2 {
    font-size: var(--font-h1-md);
  }
  .heading-3 {
    font-size: var(--font-h3-md);
  }

  /* section banner */
  .card--banner {
    width: 56vw;
  }
  .banner {
    min-height: 720px;
    padding-left: 110px;
  }
  .banner__caption--hide-sm {
    line-height: 32px;
    width: 450px;
    padding-left: 28px;
    display: flex;
    border-left: 3px solid #ffdab2;
    font-size: 0.95rem !important;
    font-family: "Poppins";
    color: #1a404ac0;
    position: relative;
    animation-name: animationBannner;
    animation-duration: 3s;
  }
  .banner__buttons {
    max-width: 290px;
    padding-top: 28px;
  }
  .banner__buttons-link--gray,
  .banner__buttons-link--green {
    border-radius: 48px;
    font-weight: 900;
    font-size: var(--font-btn-defult);
  }
  /* section process */
  .card-container--process {
    align-items: center;
  }
  .card--process-first,
  .card--process-third {
    padding-bottom: 120px;
    align-self: flex-start;
  }
  .card--process-second {
    padding-bottom: 0px;
  }
  .btn-container--process {
    padding-top: 32px;
  }
  /* section Tours-destinations */
  .Tours-destinations__content {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 36%,
      rgba(0, 162, 160, 1) 36%,
      rgba(0, 162, 160, 1) 100%
    );
  }
  .Tours-destinations__country-image-container {
    height: 170px;
  }
   /* section tour-guide */
  .card-container--tour-guides {
    padding: 0 32px;
    width: 90%;
  }
  .description--tour-guides {
    width: 54%;
  }
}
/* lg */
@media (min-width: 1240px) {
  /* css general home page */
  .row {
    min-width: 1050px;
  }
  .heading-1 {
    font-size: var(--font-h1-lg);
  }
  .heading-2 {
    font-size: var(--font-h1-lg);
  }
  .heading-3 {
    font-size: var(--font-h3-lg);
  }
  .description {
    font-size: var(--font-body-defult);
  }

  /* section banner */
  .banner {
    background-position: 50%;
    padding-left: 210px;
  }
  .card--banner {
    width: 44vw;
    min-height: 300px;
  }
  .banner__buttons {
    max-width: 320px;
  }
  /* section Tours-destinations */
  .Tours-destinations__country-image-container {
    height: 220px;
  }
}
