@import url("./general-css.css");

/* xs */
.container {
    width: 100%;
}

#main {
    transition: 0.5s;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 15px;
    z-index: 98;
    background-color: var(--color-text-white);
}

.header-placeholder {
    display: none;
}

.header.sticky {
    position: fixed;
    top: 0;
    animation: slideDown 0.3s ease-in-out;
    z-index: 97;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.header__logo {
    width: 70%;
    height: 100%;
}

.header__logo__img {
    width: 170px;
    height: 50px;
}

.header__hamburger {
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.header__bar {
    width: 100%;
    height: 2px;
    background-color: #00A2A0;
    border-radius: 5px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 2em;
    padding: 20px 20px;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 99;
    top: 0;
    right: -250px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar__cross {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.sidebar__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 2.5em;
}

.sidebar__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buy-now {
    width: 100%;
    padding: 12px 20px;
    background-color: #00A2A0;
    border-radius: 20px;
    border: none;
    color: var(--color-text-white);
    font-size: var(--font-btn-defult);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
}

.buy-now:hover {
    background-color: #089D9B;
}

.nav-link {
    font-family: var(--font-popins);
    font-weight: var(--font-weight-bolder);
    color: var(--color-text-bg-green);
    font-size: var(--font-body-defult);
    transition: 0.5s ease;
    cursor: pointer;
}

.nav-link.sidebarColor {
    color: #9DA6A6;
    transition: 0.1s ease;

}

.nav-link.sidebarColor:hover {
    color: var(--color-text-white);
}

.nav-link.active {
    color: var(--color-text-white);
}

.nav-link:hover {
    color: var(--color-text-dark);
}

.overlay {
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}

.overlay.active {
    opacity: 0.5;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;
}

.header__desktop {
    display: none;
}

.desktop__links {
    display: none;
}

.main-container {
    width: 100%;
    height: 100%;
}

.banner {
    width: 100%;
    height: 100%;
}

.banner__content {
    background-image: url("../assets/images/img/image-our-team-page/journey2-subheader.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 220px;
    padding-bottom: 140px;
}

.banner__text {
    padding-left: 33px !important;
    padding-right: 33px !important;
    max-width: 480px !important;
}

.banner__text-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.banner__title {
    margin-bottom: 15px;
}

.banner__title-style {
    font-family: var(--font-YesevaOne);
    font-size: clamp(2.25rem, 10vw, 2.8rem);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-dark);
    line-height: 36px;
}

.banner__caption {
    color: var(--color-text-dark);
    font-size: var(--font-body-defult);
    font-weight: var(--font-weight-normal);
    font-family: var(--font-popins);
    letter-spacing: 0;
    padding: 0 51px 0 40px;
    margin-top: 20px;
    border-left: 2px solid #ffdab2;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 60px;
}

.card_second {
    padding-top: 0;
    padding-bottom: 40px;
}

.card_third {
    padding-top: 0;
    padding-bottom: 80px;
}

.card-orbit {
    height: 100%;
    width: 80%;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-orbit_second {
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
}

.avatar {
    width: 100%;
    padding-bottom: 20px;
}

.card__avatar-information {
    width: 100%;
    padding-left: 18px;
}

.card__avatar-information-second {
    padding-right: 18px;
    padding-left: 0;
}

.card__tour-leaders {
    font-family: var(--font-YesevaOne);
    font-size: var(--font-h2-xs);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-dark);
    line-height: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 15px;
}

.card__caption-first {
    display: flex;
    flex-direction: column;
}

.card__caption-first-space {
    margin: 15px 0 0;
    font-family: var(--font-popins);
    font-size: var(--font-body-defult);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-dark);
    line-height: 19px;
    letter-spacing: 0;
}

.card__icon {
    padding-top: 30px;
}

.card__icon-second {
    padding: 30px 0;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-border {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--color-text-bg-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-border:hover {
    background-color: #007A78;
}

.card__icon-style {
    width: 175px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon-box:hover {
    opacity: 0.8;
}

.card__title-second {
    font-family: var(--font-YesevaOne);
    font-size: var(--font-h2-xs);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-dark);
    line-height: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 15px;
    padding-right: 18px;
}

.card__caption-second {
    display: flex;
    flex-direction: column;
    padding-right: 18px;
}

.tours-destinations {
    width: 100%;
    height: auto;
}

.tours-destinations__header {
    padding-top: 40px;
    background-image: url("../assets/images/img/image-our-team-page/bg-.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

.tours-destinations__header__img {
    width: 80%;
    height: auto;
    background-image: url("../assets/images/img/image-our-team-page/bg-2.jpg");
    background-position: center center;
    background-size: cover;
    padding: 180px 32px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tours-destinations__btn-play {
    width: 180px;
    height: 180px;
}

.tours-destinations__btn-play--hover-mode {
    display: none;
    width: 180px;
    height: 180px;
    cursor: pointer;
}

.tours-destinations__btn-play:hover + .tours-destinations__btn-play--hover-mode {
    display: flex;
}

.tours-destinations__btn-play:hover {
    display: none;
}

.card-tours {
    padding: 120px 0 80px;
    background-color: var(--color-text-bg-green);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__tours-orbit {
    width: 80%;
}

.card__tours-title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
}


.card__tours-title {
    font-family: var(--font-YesevaOne);
    font-weight: var(--font-weight-normal);
    text-align: center;
    font-size: var(--font-h1-xs);
    color: var(--color-text-white);
    line-height: 36px;
    letter-spacing: 0;
}


.card__tours-descriptions {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.card__tours-descriptions_first-p {
    color: var(--color-text-white);
    font-size: var(--font-h3-xs);
    font-family: var(--font-YesevaOne);
    font-weight: var(--font-weight-normal);
    line-height: 19px;
    letter-spacing: normal;
    word-spacing: 0;
    margin-bottom: 15px;
}

.card__tours-descriptions_others-p {
    color: #c8e6e5;
    font-size: 0.8125rem;
    font-family: var(--font-popins);
    line-height: 21px;
    letter-spacing: normal;
    word-spacing: 0;
    margin-bottom: 15px;
}

/* footer style */

.footer__container {
    width: 100%;
    background-image: url(../assets/images/img/image-header-footer/journey2-footerbg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ECE1DA;
}

.footer {
    width: 100%;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer__text {
    max-width: 620px;
    padding: 50px 0;
    text-align: center;
    line-height: 2em;
    color: var(--color-text-dark);
    font-family: var(--font-popins);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-body-defult);
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__icons {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--color-text-bg-green);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer__icons:hover {
    background-color: #047876;
}

.footer__social-containers {
    padding: 0 10px 0 10px;
}

.footer__line {
    width: 100%;
    height: 1px;
    background-color: #51504f46;
}

.footer__copyright {
    padding: 40px 50px;
    color: var(--color-text-dark);
    font-family: var(--font-popins);
    font-weight: var(--font-weight-normal);
    font-size: 0.8rem;
    text-align: center;
}

.footer__links {
    color: var(--color-text-bg-green);
    cursor: pointer;
}

.footer__links:hover {
    text-decoration: underline;
}

/*float iframe */
.video-container {
    padding: 0 33px;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 100px;
    right: 0;
    left: 0;
    display: none;
}

.close-icon {
    display: none;
}

.icon-close-wrapper {
    padding-bottom: 16px;
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: flex-end;
}

.video {
    width: 100%;
    max-width: 900px;
    height: 250px;
    box-shadow: 5px 5px 8px #9da2a722, -5px -5px 8px #9da2a722;
}

.cover {
    z-index: 20;
    background-color: #0b0b0b;
    opacity: 0.8;
    width: 100%;
    height: 6000px;
    position: absolute;
    top: 0;
    display: none;
}

/* sm */
@media (min-width: 576px) {
    .header__desktop {
        display: none;
    }

    .desktop__links {
        display: none;
    }

    .banner__text-box {
        width: 82%;
        display: flex;
        flex-direction: column;
        margin: 0 16px;
    }

    .banner__text {
        max-width: 480px !important;
    }

    .banner__title-style {
        font-size: var(--font-h1-sm);
        line-height: 45px;
    }

    .banner__caption {
        font-size: var(--font-body-defult);
        font-family: var(--font-popins);
        font-weight: var(--font-weight-normal) ;
        color: var(--color-text-dark);
        padding: 0 51px 0 40px;
        line-height: 23px;
    }

    .card__tour-leaders {
        font-size: var(--font-h2-sm);
        line-height: 41px;
        letter-spacing: 0;
    }

    .card__caption-first-space {
        font-family: var(--font-popins);
        font-size: var(--font-body-defult);
        line-height: 23px;
    }

    .card__tours-title {
        font-family: var(--font-YesevaOne);
        font-weight: var(--font-weight-normal);
        font-size: var(--font-h1-sm);
        line-height: 45px;
        letter-spacing: 0;
    }

    .card__tours-descriptions_first-p {
        font-size: 0.94rem;
        font-family: var(--font-YesevaOne);
        font-weight: var(--font-weight-normal);
        line-height: 23px;
        letter-spacing: 0;
    }

    .card__tours-descriptions_others-p {
        font-family: var(--font-popins);
        font-size: var(--font-body-defult);
        line-height: 23px;
        letter-spacing: 0;
    }

    .avatar {
        width: 90%;
    }

    .card-orbit {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .card__avatar-information {
        width: 100%;
        padding-left: 33px;
    }

    .card__avatar-information-second {
        width: 100%;
        padding-right: 33px;
    }

    .card-orbit_second {
        display: flex;
        flex-direction: column-reverse;
    }
    .video {
        height: 360px;
    }
    .tours-destinations__header__img{
        width: 64%;
    }
}


/* md */
@media (min-width: 768px) {
    .header {
        padding: 30px 28px;
        background-color: transparent;
    }

    .header.sticky {
        padding: 5px 28px;
        height: 60px;
        box-shadow: 1px 1px 5px rgb(223, 219, 219);
        opacity: 0.9;
        background-color: var(--color-text-white);
    }

    .header__logo__img.sticky {
        width: 120px;
        height: 35px;
        margin-top: 12px;
    }

    .header__logo {
        width: 60%;
        height: 100%;
    }

    .header__hamburger {
        width: 10%;
        align-items: flex-end;
    }

    .header__bar {
        width: 25px;
    }

    .header__logo__img {
        width: 205px;
        height: 100%;
    }

    .header__desktop {
        width: 30%;
        display: flex;
        justify-content: flex-end;
    }

    .desktop__buy-now {
        width: 155px;
        padding: 8px 20px;
        background-color: #00A2A0;
        border-radius: 20px;
        border: none;
        font-family: var(--font-popins);
        color: var(--color-text-white);
        font-weight: var(--font-weight-normal);
        cursor: pointer;
    }

    .desktop__buy-now {
        font-size: var(--font-btn-defult);
    }

    .desktop__buy-now:hover {
        background-color: #089D9B;
    }

    .desktop__links {
        display: none;
    }

    .banner__title-style {
        font-size: 3.2rem;
        line-height: 51px;
    }

    .banner__caption {
        font-size: var(--font-body-defult);
        font-family: var(--font-popins);
        font-weight: var(--font-weight-normal) ;
        color: var(--color-text-dark);
        line-height: 26px;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 0 40px;
    }

    .avatar {
        width: 50%;
        padding: 0;
    }

    .card__avatar-information {
        width: 80%;
        padding-left: 50px;
    }

    .card__avatar-information-second {
        padding-left: 0;
        padding-right: 50px;
    }

    .card-orbit {
        display: flex;
        flex-direction: row;
    }

    .card-orbit_second {
        display: flex;
        flex-direction: row-reverse;
    }

    .card__tour-leaders {
        font-size: clamp(2.3rem, 2vw, 2.8rem);
        line-height: 47px;
        letter-spacing: 0;
    }

    .card__caption-first-space {
        font-family: var(--font-popins);
        font-size: var(--font-body-defult);
        line-height: 26px;
    }

    .card__tours-title {
        font-family: var(--font-YesevaOne);
        font-weight: var(--font-weight-normal);
        font-size: var(--font-h1-md);
        line-height: 51px;
        letter-spacing: 0;
    }

    .card__tours-descriptions {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .card__tours-descriptions_others-p, .card__tours-descriptions_first-p {
        width: 90%;
        line-height: 26px;
        margin: 0 15px 15px 0;
    }
    .video {
        height: 400px;
    }
    .tours-destinations__header__img{
        width: 90%;
    }
}


/* lg */
@media (min-width: 1240px) {
    .header {
        padding: 30px 32px;
        background-color: transparent;
    }

    .header__hamburger {
        display: none;
    }

    .desktop__links {
        display: flex;
        gap: 40px;
        width: 55%;
    }

    .desktop__links.sticky {
        display: flex;
        gap: 40px;
        width: 100%;
    }

    .nav-link {
    font-size: 0.75rem;
    letter-spacing: 1px;
    font-family: var(--font-popins-normal);
    font-weight: 900 !important;
  }
    .nav-link.active {
        color: var(--color-text-dark);
    }

    .header__logo {
        width: 280px;
        height: 100%;
    }

    .banner__text {
        margin-left: 190px;
    }

    .banner__text-box{
        width: 480px;
    }

    .banner__title-style {
        font-size: var(--font-h1-lg);
        line-height: 60px;
    }

    .banner__caption {
        font-size: var(--font-body-defult);
        font-family: var(--font-popins);
        font-weight: var(--font-weight-normal) ;
        color: var(--color-text-dark);
        line-height: 30px;
        margin-top: 40px;
    }

    .card-orbit {
        display: flex;
        flex-direction: row;
    }

    .card {
        padding-top: 120px;
        padding-bottom: 80px;
    }

    .card_second {
        padding-top: 0;
        padding-bottom: 80px;
    }

    .card_third {
        padding-top: 0;
        padding-bottom: 80px;
    }

    .card__tours-title {
        font-size: var(--font-h1-lg);
        font-family: var(--font-YesevaOne);
        font-weight: var(--font-weight-normal);
        line-height: 60px;
        letter-spacing: 0;
    }

    .card__tours-descriptions_first-p {
        font-size: var(--font-h3-sm);
        line-height: 30px;
    }

    .card__tours-descriptions_others-p {
        font-size: var(--font-h3-xs);
        line-height: 30px;
    }
       
    .card__tour-leaders {
        font-size: var(--font-h2-lg);
        line-height: 55px;
        letter-spacing: 0;
    }

    .card__caption-first-space {
        font-family: var(--font-popins);
        font-size: var(--font-body-defult);
        line-height: 30px;
    }

    .card-orbit_second {
        display: flex;
        flex-direction: row-reverse;
        width: 84%;
    }

    .card__avatar-information-second {
        padding-right: 75px;
        padding-left: 0;
    }

    .card__avatar-information {
        padding-left: 75px;
    }
    
    .card__tours-information{
        width: 90%;
    }
    .card__tours-orbit{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .card-tours{
        padding: 120px 0 100px;
    }
    .video {
        height: 490px;
        top: 0;
    }
    .tours-destinations__header{
        padding: 0 56px;
    }
}