@import url("./general-css.css");

/* xs */
/* ... */
.container {
    width: 100%;
}

#main {
    transition: 0.5s;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 15px;
    z-index: 98;
    background-color: var(--color-text-white);
}

.header-placeholder {
    display: none;
}

.header.sticky {
    position: fixed;
    top: 0;
    animation: slideDown 0.3s ease-in-out;
    z-index: 97;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.header__logo {
    width: 70%;
    height: 100%;
}

.header__logo__img {
    width: 170px;
    height: 50px;
}

.header__hamburger {
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.header__bar {
    width: 100%;
    height: 2px;
    background-color: #00A2A0;
    border-radius: 5px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 2em;
    padding: 20px 20px;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 99;
    top: 0;
    right: -250px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar__cross {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.sidebar__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 2.5em;
}

.sidebar__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buy-now {
    width: 100%;
    padding: 12px 20px;
    background-color: #00A2A0;
    border-radius: 20px;
    border: none;
    color: var(--color-text-white);
    font-size: var(--font-btn-defult);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
}

.buy-now:hover {
    background-color: #089D9B;
}

.nav-link {
    font-family: var(--font-popins);
    color: var(--color-text-bg-green);
    font-size: var(--font-body-defult);
    transition: 0.5s ease;
    cursor: pointer;
}

.nav-link.sidebarColor {
    color: #9DA6A6;
    transition: 0.1s ease;

}

.nav-link.sidebarColor:hover {
    color: var(--color-text-white);
}

.nav-link.active {
    color: var(--color-text-white);
}

.nav-link:hover {
    color: var(--color-text-dark);
}

.overlay {
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}

.overlay.active {
    opacity: 0.5;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;
}

.header__desktop {
    display: none;
}

.desktop__links {
    display: none;
}

/* footer style */

.footer__container {
    width: 100%;
    background-image: url(../assets/images/img/image-header-footer/journey2-footerbg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ECE1DA;
}

.footer {
    width: 100%;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer__text {
    max-width: 620px;
    padding: 50px 0;
    text-align: center;
    line-height: 2em;
    color: var(--color-text-dark);
    font-family: var(--font-popins);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-body-defult);
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__icons {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--color-text-bg-green);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer__icons:hover {
    background-color: #047876;
}

.footer__social-containers {
    padding: 0 10px 0 10px;
}

.footer__line {
    width: 100%;
    height: 1px;
    background-color: #51504f46;
}

.footer__copyright {
    padding: 40px 50px;
    color: var(--color-text-dark);
    font-family: var(--font-popins);
    font-weight: var(--font-weight-normal);
    font-size: 0.8rem;
    text-align: center;
}

.footer__links {
    color: var(--color-text-bg-green);
    cursor: pointer;
}

.footer__links:hover {
    text-decoration: underline;
}

.main-container {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.banner {
    width: 100%;
    height: 370px;
    display: grid;
    flex-direction: column;
    align-items: flex-start;
}

.banner__img {
    background-image: url("../assets/images/img/image-tours-page/journey2-subheader.jpg");
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 520px;
    padding: 0 35px;
    display: flex;
    align-items: center;
    line-height: 20px;
}

.img__text__title {
    padding: 40px 0;
    font-size: var(--font-h1-xs);
    color: var(--color-text-dark);
}

.img__text__subtext {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 2px solid #fcdbb9;
}

.text__subtext__index {
    padding: 0 35px;
    width: 85%;
    font-family: var(--font-popins);
    font-size: var(--font-h3-xs);
    color: var(--color-text-dark);
    opacity: 95%;
}

.places-part {

    padding: 250px 10px 0 10px
}

.section {
    padding: 0 35px 35px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section__img-box {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    cursor: pointer;
    margin: auto;
    overflow: hidden;

}

.img-box__img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    transform: scale(1);
}

.img-box__img:hover {
    transform: scale(1.1);
}

.section__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 35px 0;
    color: var(--color-text-dark);
    font-size: var(--font-h3-xs);
}

.details__icon {
    width: 100%;
    max-width: 200px;
    height: auto;
    max-height: 180px;
}

.details__title {
    padding-top: 20px;
    font-family: var(--font-YesevaOne);
    font-size: var(--font-h2-xs);
    font-weight: var(--font-weight-normal);
}

.details__main-top {
    padding-top: 30px;
    width: 90%;
    max-width: 380px;
    line-height: 20px;
    opacity: 98%;
    font-family: var(--font-popins);
}

.details__main-bottom {
    padding-top: 20px;
    padding-bottom: 35px;
    width: 90%;
    max-width: 380px;
    line-height: 20px;
    opacity: 98%;
    font-family: var(--font-popins);
}

.btn {
    width: 140px;
    height: 42px;
    border-radius: 50px;
    color: var(--color-text-white);
    font-family: var(--font-popins);
    font-size: var(--font-btn-defult);
    background-color: var(--color-text-bg-green);
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.btn:link {
    color: var(--color-text-white);
    text-decoration: none;
}

.btn:hover {
    background-color: #019896;
}


.blue-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-card__img {
    background-image: url("../assets/images/img/image-tours-page/journey2-wrapbg2.jpg");
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blue-card__details {
    background-color: var(--color-text-dark);
    width: 100%;
    height: 600px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--font-h3-xs);
}

.blue-card__title {
    font-family: var(--font-YesevaOne);
    color: var(--color-text-bg-green);
    font-size: var(--font-h1-xs);
}

.blue-card__top {
    padding-top: 20px;
    color: var(--color-text-white);
    line-height: 20px;
    font-family: var(--font-popins);

}

.blue-card__bottom {
    padding: 12px 0 38px 0;
    color: var(--color-text-white);
    line-height: 20px;
    font-family: var(--font-popins);
}

.process {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;
    text-align: center;
}

.process-title {
    font-family: var(--font-YesevaOne);
    font-size: var(--font-h2-sm);
    color: var(--color-text-dark);
    padding-bottom: 50px;
}

.process-part__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__step {
    padding: 5px 12px;
    border-radius: 50px;
    color: var(--color-badge);
    background-color: var(--color-btn);
    font-family: var(--font-YesevaOne);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-btn-defult);
}

.card__img {
    padding: 30px 0;
}

.card__title {
    color: var(--color-text-bg-green);
    font-weight: var(--font-weight-bolder);
    width: 70%;
    max-width: 500px;
}

.card__text {
    font-family: var(--font-popins);
    color: var(--color-text-dark);
    font-size: var(--font-h3-xs);
    padding: 20px 0 45px 0;
    width: 85%;
    max-width: 420px;
    line-height: 23px;

}


/* sm */
@media (min-width: 576px) {

    .header__desktop {
        display: none;
    }

    .desktop__links {
        display: none;
    }

    .banner__img {
        padding: 0 65px;
    }

    .img__text__title {
        font-size: var(--font-h1-sm);
    }

    .img__text__subtext {
        font-size: var(--font-h3-sm);
    }

    .text__subtext__index {
        width: 75%;
    }

    .details__title {
        font-size: var(--font-h2-sm);
        padding-top: 30px;
    }

    .details__main-top {
        padding-top: 30px;
        width: 100%;
        max-width: 420px;
    }

    .details__main-bottom {
        padding-top: 25px;
        padding-bottom: 35px;
        width: 85%;
        max-width: 390px;
    }

    .section__details {
        padding: 40px 0;
    }

    .blue-card__title {
        font-size: var(--font-h1-sm);
    }

    .blue-card__top {
        padding-top: 30px;
        line-height: 28px;
    }

    .blue-card__bottom {
        padding: 20px 0 38px 0;
        line-height: 28px;
    }

    .process-title {
        font-size: var(--font-h1-sm);
        padding-bottom: 60px;

    }

    .process {
        padding-top: 105px;
    }

    .card__title {
        font-size: var(--font-h3-sm);
    }
}

/* md */
@media (min-width: 768px) {

    .header {
        padding: 30px 28px;
        background-color: transparent;
    }

    .header.sticky {
        padding: 5px 28px;
        height: 60px;
        box-shadow: 1px 1px 5px rgb(223, 219, 219);
        opacity: 0.9;
        background-color: var(--color-text-white);
    }

    .header__logo__img.sticky {
        width: 120px;
        height: 35px;
        margin-top: 12px;
    }

    .header__logo {
        width: 60%;
        height: 100%;
    }

    .header__hamburger {
        width: 10%;
        align-items: flex-end;
    }

    .header__bar {
        width: 25px;
    }

    .header__logo__img {
        width: 205px;
        height: 100%;
    }

    .header__desktop {
        width: 30%;
        display: flex;
        justify-content: flex-end;
    }

    .desktop__buy-now {
        width: 155px;
        padding: 8px 20px;
        background-color: #00A2A0;
        border-radius: 20px;
        border: none;
        font-family: var(--font-popins);
        color: var(--color-text-white);
        font-size: var(--font-btn-defult);
        font-weight: var(--font-weight-normal);
        cursor: pointer;
    }

    .desktop__buy-now:hover {
        background-color: #089D9B;
    }

    .desktop__links {
        display: none;
    }

    .banner__img {
        padding: 0 110px;
    }

    .img__text__title {
        font-size: var(--font-h1-md);
        padding: 70px 0;
    }

    .text__subtext__index {
        width: 50%;
    }

    .section {
        padding: 0 50px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .section__img-box {
        width: 50%;
        max-width: 470px;
        height: 100%;
        max-height: 470px;
        cursor: pointer;
        margin: auto;
        overflow: hidden;
    }

    .section__details {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 35px 0;
        font-family: var(--font-Helvetica);
        color: var(--color-text-dark);
        font-size: var(--font-h3-xs);
    }

    .details__title {
        padding-top: 20px;
        font-family: var(--font-YesevaOne);
        font-size: var(--font-h1-sm);
    }

    .details__main-top {
        padding-top: 30px;
        width: 70%;
        max-width: 410px;
        line-height: 27px;
    }

    .details__main-bottom {
        padding-top: 25px;
        padding-bottom: 35px;
        width: 85%;
        max-width: 410px;
        line-height: 27px;
    }

    .blue-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 42px;
    }

    .blue-card__img {
        height: 710px;
        width: 50%;
    }

    .blue-card__details {
        height: 710px;
        padding: 40px;
        width: 50%;
    }
    .blue-card__title {
        font-size: var(--font-h1-md);
    }

    .process-part {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding-bottom: 60px;
    }

    .process-title {
        font-size: var(--font-h1-md);
        padding-bottom: 60px;
    }

    .process {
        padding-top: 105px;
    }

    .card__title {
        font-size: var(--font-h3-md);
        width: 70%;
        max-width: 350px;
    }

    .card__text {
        width: 85%;
        max-width: 255px;
    }
}

/* lg */
@media (min-width: 1240px) {

    .header {
        padding: 30px 32px;
        background-color: transparent;
    }

    .header__hamburger {
        display: none;
    }

    .desktop__links {
        display: flex;
        gap: 40px;
        width: 55%;
    }

    .nav-link {
    font-size: 0.75rem;
    letter-spacing: 1px;
    font-family: var(--font-popins);
    font-weight: 900 !important;
  }

    .nav-link.activ {
        color: var(--color-text-dark);
    }

    .header__logo {
        width: 280px;
        height: 100%;
    }

    .banner__img {
        padding: 0 220px;
    }

    .img__text__title {
        font-size: var(--font-h1-lg);
    }

    .text__subtext__index {
        line-height: 32px;
    }

    .section {
        padding: 0 85px 70px 124px;
    }

    .section__img-box {
        width: 50%;
        max-width: 530px;
        height: 100%;
        max-height: 530px;
    }

    .section__details {
        width: 50%;
        padding: 35px 30px;
    }

    .details__title {
        font-size: var(--font-h2-lg);
    }

    .details__main-top {
        padding-top: 30px;
        width: 100%;
        max-width: 400px;
        line-height: 28px;
    }

    .details__main-bottom {
        padding-top: 20px;
        padding-bottom: 35px;
        width: 85%;
        max-width: 390px;
        line-height: 28px;
    }

    .btn {
        width: 142px;
        height: 48px;
    }

    .blue-card__title {
        font-size: var(--font-h1-lg);
    }

    .blue-card__top {
        padding-top: 20px;
        color: var(--color-text-white);
        line-height: 29px;

    }

    .blue-card__bottom {
        padding: 12px 0 38px 0;
        color: var(--color-text-white);
        line-height: 29px;
    }

    .blue-card__details {
        width: 50%;
        height: 800px;
        padding: 40px 90px;
    }

    .blue-card__img {
        height: 800px;
        width: 50%;
    }

    .process-title {
        font-size: var(--font-h1-lg);
        padding-bottom: 60px;
    }

    .process {
        padding-top: 105px;
    }

    .card__title {
        font-size: var(--font-h3-lg);
        width: 70%;
        max-width: 350px;
    }

    .card__text {
        width: 85%;
        max-width: 300px;
        line-height: 24px;
    }
    .desktop__links.sticky { 
    display: flex; 
    gap: 40px; 
    width: 100%; 
  }
}